<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>VUE</title>
</head>

<body>
    <div id="app">
        <input type="text" v-on:input="changeTitle">
        <p v-once>{{title}}</p>
        <p>{{ sayHello() }} - <a v-bind:href="link" target="blank">Google</a></p>
        <hr>
        <p v-html="finishedLink"></p>
    </div>
    <hr>
    <div id="app2">
        <button @click="increase(2, $event)">Cick me</button>
        <p>{{ counter }}</p>
        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{  x }} / {{ y }} -
            <span v-on:mousemove.stop="">DEAD SPOT</span>
        </p>
        <input type="text" v-on:keyup.enter.space="alertMe">
    </div>
    <hr>
    <div id="app3">
        <input type="text" v-model="name">
        <p>{{ name }}</p>
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase 2</button>
        <p>COUNTER: {{ counter }} | {{ secondCounter }}</p>
        <p>RESULT: {{ result() }} | {{ output }}</p>
     </div>
     <hr>
     <hr>
     <hr>
     <div id="app4">
        <div class="demo" @click="attachedRed = !attachedRed" :class="colorChanged"></div>
        <div class="demo" :class="{red: attachedRed}"></div>
        <div class="demo" :class="[color, {red: attachedRed}]"></div>

        <input type="text" v-model="color">
     </div>
    <script src="index.js" type="text/javascript"></script>
</body>

</html>