doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        script(src="../vue.js")
        title Part2


    body
        #app
            p(v-if="show") You can see me!
            p(v-else) Else statement
            p(v-show="show") You can also see me!
            button(@click="show = !show") Switch
            template(v-if="show")
                h1 Heading
                p some paragraph
        #app2
            ul
                li(v-for="(ing, i) in ingredients" :key="ing") {{ ing }} ({{ i }})
            button(@click="ingredients.push('spices')") Add
            template(v-for="(ing, i) in ingredients")
                h1 {{ ing }}
                p {{ i }}
            hr
            ul
                li(v-for="person in persons") {{ person.name }}
                    div(v-for="(value, key, index) in person") {{ key }} : {{ value }} ({{ index }})
            span(v-for="n in 10") {{ n }}


        script(src="../part2.js" type="text/javascript")
        