<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Part2</title>
  </head>
  <body>
    <div id="app">
      <p v-if="show">You can see me!</p>
      <p v-else>Else statement</p>
      <p v-show="show">You can also see me!</p>
      <button @click="show = !show">Switch</button>
      <template v-if="show">
        <h1>Heading</h1>
        <p>some paragraph</p>
      </template>
    </div>
    <div id="app2">
      <ul>
        <li v-for="(ing, i) in ingredients" :key="ing">{{ ing }} ({{ i }})</li>
      </ul>
      <button @click="ingredients.push('spices')">Add</button>
      <template v-for="(ing, i) in ingredients">
        <h1>{{ ing }}</h1>
        <p>{{ i }}</p>
      </template>
      <hr>
      <ul>
        <li v-for="person in persons">{{ person.name }}
          <div v-for="(value, key, index) in person">{{ key }} : {{ value }} ({{ index }})</div>
        </li>
      </ul><span v-for="n in 10">{{ n }}</span>
    </div>
    <script src="../part2.js" type="text/javascript"></script>
  </body>
</html>